* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header {
  background: rgb(99, 99, 163);
  color: white;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: gray;
}

.start{
   padding: 10px;
   border-radius: 15px;
   border: none;
   font-weight: bold;
}

.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.score-number{
  font-size: larger;
  /* font-weight: bold; */
}

.toggler{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.toggle-level{
  font-weight: bold;
}

.level{
  padding: 5px;
   border-radius: 15px;
   border: none;
   font-weight: bold;
   margin-top: 8px;
   width: 50%;
}